@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase

.img-responsive
	display: block
	max-width: 100%
	height: auto

@import "media" // Всегда в конце

.center
	text-align: center

.site-header
	height: auto
	width: 100%
.header-logo
	img
		min-width: 125px
		height: auto	
.phone
	position: absolute
	right: 85px
	top: 44px
	font-family: firasans, sans-serif
	font-size: 22px
	color: $over
	white-space: nowrap // на маленьких экрана будет переносится целой строкой
	a
		text-decoration: none
		color: $over
	.fa
		margin-right: 10px

//menu start
.nav
	ul
		list-style: none
		text-align: center
		padding: 0
		margin: 20px 0 0
		
		li
			font-family: 'Roboto', sans-serif
			font-size: 1.2em
			background-color: #777
			line-height: 40px
			height: 40px
			margin: 0 10px
			border-bottom: 1px solid #888
			a
				text-decoration: none
				color: #fff
				display: block
				transition: .3s background-color
			&:hover
				background-color: #005f5f
				transition: all ease .3s
			&.active
				background-color: #fff
				color: #444
				cursor: default
//menu end

//left-sidebar start
.left-sidebar
	height: 1000px
	background-image: url("../img/1.jpg")
	h3
		font-size: 30px
		margin: 0
		font-family: Roboto
		color: $over
	ul, li
		padding: 0
		margin: 0
		list-style-type: none
		li.active
			a
				color: $over
				&::before
					color: $over
		a
			color: #111
			font-size: 20px
			font-weight: bold
			transition: color .25s ease
			display: inline-block
			padding: 4px 0
			text-decoration: none
			padding-left: 20px
			position: relative
			&:hover, &:focus
				color: $over
				&::before
					color: $over
			&::before
				position: absolute
				font-family: fontawesome
				content: '\f0ca'
				left: 0
				font-size: 12px
				color: #111
				transition: color .25s ease
				top: 6px

.main-section
	background-color: #999
	height: 1000px
	h1
		margin: 0
		padding-top: 30px
	p
		padding: 30px 60px
		color: $over


//карточки старт

.miniatures
	border: 2px solid #03B257
	padding-bottom: 15px
	padding-top: 5px
	border-radius: 5px
	margin-bottom: 20px
	img
		width: 100%
	h3
		color: #03B297

	h4
		color: #9A9AE1

	ul
		color: #111

.btn-animate
  color: #fff
  font-size: 14px
  font-weight: 600
  letter-spacing: 2px
  cursor: pointer
  position: relative
  z-index: 1
  padding: 15px 30px
  border: none
  border-radius: 4px
  box-shadow: 0px 16px 47px -15px #590b9b
  background: none
  -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1)
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1)
  border-radius: 8px
  overflow: hidden
  outline: none
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  span
    position: relative
    z-index: 2
  &:before
    border-radius: 8px
    content: ''
    z-index: -1
    background: -webkit-linear-gradient(350deg, #560a9b, #9e158f)
    background: linear-gradient(100deg, #560a9b, #9e158f)
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  &:after
    border-radius: 8px
    content: ''
    z-index: -1
    background: -webkit-linear-gradient(350deg, #560a9b, #9e158f)
    background: linear-gradient(100deg, #560a9b, #9e158f)
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: -webkit-linear-gradient(350deg, #003f77, #05c4b5)
    background: linear-gradient(100deg, #003f77, #05c4b5)
    -webkit-transform: scaleY(0)
    transform: scaleY(0)
    -webkit-transform-origin: top
    transform-origin: top
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    -webkit-transition-delay: .1s
    transition-delay: .1s
  &:hover
    box-shadow: 0px 16px 47px -15px #003f77
    &:after
      -webkit-transform: scaleY(1)
      transform: scaleY(1)
      -webkit-transform-origin: bottom
      transform-origin: bottom
      -webkit-transition-delay: 0s
      transition-delay: 0s
  &:active
    -webkit-transform: translateY(4px) translateZ(0)
    transform: translateY(4px) translateZ(0)
    box-shadow: 0px 8px 10px -6px #003f77
//карточки конец
@import "media" // Всегда в конце